body{
    background-image: url(Front_i.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
label{
    background-image: url(Front_iv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}